@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Open+Sans:ital@1&family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap');
h1,h3,h4{
    
    font-family: 'EB Garamond', serif;
}


.btn-p{
    background-color: #B68C5A;
    color: white;
    /* width: 162px; */
    /* height: 27px; */
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 18px 29px 19px 29px;
}
.banner-info{
    color: white;
    background-image: url('../images/banner.png ');
  
    width: 1170px;
    height: 550px;
    padding: 122px 262px 86px 216px;
}
/* legal practice area */
/* .accordion{
    accordion-body-padding-x=;
} */
ul{
    list-style: none;
}